<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login - Mi App Monolítica</title>
</head>

<body>
    <h2>Iniciar Sesión</h2>

    {# Bloque para mostrar errores de login (flash messages) #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/login" method="POST">
        <div>
            <label>Usuario:</label><br>
            <input type="text" name="username" required>
        </div>
        <br>
        <div>
            <label>Contraseña:</label><br>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Entrar</button>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('register_page') }}">Regístrate aquí</a></p>
</body>

</html>